<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form action="/piglatinize" method="post">
    Enter your phrase:
    <p>
    <textarea name="user_phrase"></textarea>
    </p>
    <p>
    <input id="submit" type="Submit">
    </p>
  </form>
  
  </body>
</html>